<ion-view title='PocketHelp' right-buttons='rightButtons'>
  <ion-content has-header='true' has-tabs='true' padding='true'>
  <div class='list card'>
    <div class='item'>
      <div class='row'>
        <div class='col col-60'><h2>Dad</h2> </div>
        <div class='col col-40'>
          <p style='float: right;'>
            <span style='color: #C50502;'>Stage One</span><br>
            <span style='float: right; color: #696969;'>9:20AM</span>
          </p>
        </div>
      </div>
    </div>
    <div class='item'>
      <p>No Location Provided</p>
    </div>
    <div class='item'>
      <h2>ISSUE</h2>
      Forgot keys at home please help.
    </div>
  </div
  <div class='list card'>
    <div class='item'>
      <div class='row'>
        <div class='col col-60'><h2>Brother</h2> </div>
        <div class='col col-40'>
          <p style='float: right;'>
            <span style='color: #C50502;'>Stage Two</span><br>
            <span style='float: right; color: #696969;'>2:03AM</span>
          </p>
        </div>
      </div>
    </div>
    <div class='item'>
       <mapbox map-id='matchmike1313.n3e6clmp' lat='47.603569' lng='-122.329453' zoom='10'>
        <marker lat='47.639570' lng='-122.399660'><h1>This is an unstyled marker</h1></marker>
      </mapbox>

    </div>
    <div class='item'>
      <h2>ISSUE</h2>
      Drunk, can't drive....please pick me up.
    </div>
  </div
  </ion-content>
</ion-view>
